/* .mappy{
    color:aliceblue;
    font-size: 24px;
}

.container-map{
    display: flex;
    justify-content:space-between;
}

.body-map{
    display: flex;
    gap: 30px;
} */

.mappy-home{
    color: black;
    font-size: 28px;
    text-decoration:solid;
}

/* .container-map{
    display: flex;
    justify-content:space-between;
} */

.body-map-home{
    display: flex;
    gap: 60px;
    
    align-items: baseline;
}

.header-home{
    display: flex;
    background-color: rgba(235, 232, 232, 0.773);
    
}

.body-auth-home{
    display: flex;
    gap: 20px;
    padding-right: 30px;
    padding-top: 7px;
    
    
    justify-content: end;
    margin-left: 65%;
}
