.form-register{
    /* max-width: 330px; */
    justify-content: center;
    display: flex;
}

.lock{
    background-color: rgb(15, 56, 89) !important;
}
.btn-signin{
    background-color: #778389 !important;
}